table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

div {
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
}

h2 {
  padding-top: 20px;
}
